In [1]:
from langchain_google_genai import GoogleGenerativeAI
import os
from dotenv import load_dotenv
load_dotenv()
from langchain_community.utilities import SQLDatabase

api_key  = os.getenv('GOOGLE_API_KEY')

In [2]:
llm = GoogleGenerativeAI(model="models/text-bison-001", google_api_key=api_key)
print(
    llm.invoke(
        "India is a?"
    )
)

sovereign state

In [5]:
db_user="root"
db_password="12345"
db_host="localhost"
db_name="world"
db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",sample_rows_in_table_info = 3)
print(db.table_info)

CREATE TABLE city (
	`ID` INTEGER NOT NULL AUTO_INCREMENT,
	`Name` CHAR(35) NOT NULL DEFAULT '',
	`CountryCode` CHAR(3) NOT NULL DEFAULT '',
	`District` CHAR(20) NOT NULL DEFAULT '',
	`Population` INTEGER NOT NULL DEFAULT '0',
	PRIMARY KEY (`ID`),
	CONSTRAINT city_ibfk_1 FOREIGN KEY(`CountryCode`) REFERENCES country (`Code`)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from city table:
ID	Name	CountryCode	District	Population
1	Kabul	AFG	Kabol	1780000
2	Qandahar	AFG	Qandahar	237500
3	Herat	AFG	Herat	186800
*/


CREATE TABLE country (
	`Code` CHAR(3) NOT NULL DEFAULT '',
	`Name` CHAR(52) NOT NULL DEFAULT '',
	`Continent` ENUM('Asia','Europe','North America','Africa','Oceania','Antarctica','South America') NOT NULL DEFAULT 'Asia',
	`Region` CHAR(26) NOT NULL DEFAULT '',
	`SurfaceArea` DECIMAL(10, 2) NOT NULL DEFAULT '0.00',
	`IndepYear` SMALLINT,
	`Population` INTEGER NOT NULL DEFAULT '0',
	`LifeExpectancy` DECIMAL(3, 1),
	`GNP` DECIMAL(10, 2),
	`GNPOld` DECIMAL(10, 2),
	`LocalName` CHAR(45) NOT NULL DEFAULT '',
	`GovernmentForm` CHAR(45) NOT NULL DEFAULT '',
	`HeadOfState` CHAR(60),
	`Capital` INTEGER,
	`Code2` CHAR(2) NOT NULL DEFAULT '',
	PRIMARY KEY (`Code`)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from country table:
Code	Name	Continent	Region	SurfaceArea	IndepYear	Population	LifeExpectancy	GNP	GNPOld	LocalName	GovernmentForm	HeadOfState	Capital	Code2
ABW	Aruba	North America	Caribbean	193.00	None	103000	78.4	828.00	793.00	Aruba	Nonmetropolitan Territory of The Netherlands	Beatrix	129	AW
AFG	Afghanistan	Asia	Southern and Central Asia	652090.00	1919	22720000	45.9	5976.00	None	Afganistan/Afqanestan	Islamic Emirate	Mohammad Omar	1	AF
AGO	Angola	Africa	Central Africa	1246700.00	1975	12878000	38.3	6648.00	7984.00	Angola	Republic	JosÃ© Eduardo dos Santos	56	AO
*/


CREATE TABLE countrylanguage (
	`CountryCode` CHAR(3) NOT NULL DEFAULT '',
	`Language` CHAR(30) NOT NULL DEFAULT '',
	`IsOfficial` ENUM('T','F') NOT NULL DEFAULT 'F',
	`Percentage` DECIMAL(4, 1) NOT NULL DEFAULT '0.0',
	PRIMARY KEY (`CountryCode`, `Language`),
	CONSTRAINT `countryLanguage_ibfk_1` FOREIGN KEY(`CountryCode`) REFERENCES country (`Code`)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from countrylanguage table:
CountryCode	Language	IsOfficial	Percentage
ABW	Dutch	T	5.3
ABW	English	F	9.5
ABW	Papiamento	F	76.7
*/

In [13]:
from langchain.chains import create_sql_query_chain
sql_chain = create_sql_query_chain(llm, db)
resp=sql_chain.invoke({"question":"how many countries have the Life Expectancy  greater than 75 give me list of countries names with their population count?"})
resp
new_ans=db.run("SELECT Name, Population FROM world.country WHERE LifeExpectancy > 75")
new_ans

"[('Aruba', 103000), ('Anguilla', 8000), ('Andorra', 78000), ('Argentina', 37032000), ('American Samoa', 68000), ('Australia', 18886000), ('Austria', 8091800), ('Belgium', 10239000), ('Bermuda', 65000), ('Canada', 31147000), ('Switzerland', 7160400), ('Chile', 15211000), ('Costa Rica', 4023000), ('Cuba', 11201000), ('Cayman Islands', 38000), ('Cyprus', 754700), ('Germany', 82164700), ('Denmark', 5330000), ('Spain', 39441700), ('Finland', 5171300), ('France', 59225700), ('Faroe Islands', 43000), ('United Kingdom', 59623400), ('Gibraltar', 25000), ('Guadeloupe', 456000), ('Greece', 10545700), ('French Guiana', 181000), ('Guam', 168000), ('Hong Kong', 6782000), ('Ireland', 3775100), ('Iceland', 279000), ('Israel', 6217000), ('Italy', 57680000), ('Jamaica', 2583000), ('Jordan', 5083000), ('Japan', 126714000), ('Kuwait', 1972000), ('Libyan Arab Jamahiriya', 5605000), ('Liechtenstein', 32300), ('Luxembourg', 435700), ('Macao', 473000), ('Monaco', 34000), ('Malta', 380200), ('Northern Mariana Islands', 78000), ('Montserrat', 11000), ('Martinique', 395000), ('Netherlands', 15864000), ('Norway', 4478500), ('New Zealand', 3862000), ('Panama', 2856000), ('Puerto Rico', 3869000), ('Portugal', 9997600), ('Singapore', 3567000), ('Saint Helena', 6000), ('San Marino', 27000), ('Saint Pierre and Miquelon', 7000), ('Sweden', 8861400), ('Taiwan', 22256000), ('Uruguay', 3337000), ('United States', 278357000), ('Virgin Islands, British', 21000), ('Virgin Islands, U.S.', 93000)]"

In [17]:
## Few Shot Learning:

few_shot=[
    {
        'Question':"how many countries have the Life Expectancy  greater than 75 give me list of countries names with their population count?",
        'SQLQuery':"SELECT Name, Population FROM world.country WHERE LifeExpectancy > 75",
        'SQLResult':"Result of SQL Query",
        "Answer":new_ans
        
    }
]